.projects {
  min-height: 100vh;
  background-color: #a584a3;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.myprojects {
  display: flex;
  justify-content: center;

}

.myprojects span {
  background-color: gray;
  font-weight: bold;
  margin-top: 60px;
  font-size: 30px;
}

.myprojects_items{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;

}
