.main {
  min-height: 100vh;
  background-color: pink;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid;
  width: 80%;


}

.greeting {
  display: flex;
  flex-direction: column;
}

.photo {
  height: 400px;
  width: 300px;
  background-color: #d9fff8;
}