.skills {
  min-height: 100vh;
  background-color: #34fcaf;
  display: flex;
  justify-content: center;


}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;


}

.myskills{
  display: flex;
  justify-content: center;

}

.myskills span {
  background-color: gray;
  font-weight: bold;
  margin-top: 60px;
  font-size: 30px;


}

.myskill_items {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;


}
