.header {
  height: 100px;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
}

