.header {
  height: 100px;
  background-color: #1f1f20;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  opacity: 0.9;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
}

