.contacts {
  min-height: 30vh;
  background-color: #1f1f20;
  display: flex;
  justify-content: center;
  align-content: center;

}

.container {
  width: 80%;
  margin: 0 auto;
}

.contacts_block {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contacts_block span {
  background-color: gray;
  font-weight: bold;
  font-size: 30px;
}

.contacts_block_form {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}
.contacts_block_form input,
.contacts_block_form textarea {
  background-color: gray;
  margin-top: 5px;

}

.contacts_block_form textarea {
  min-height: 160px;
}

.contacts_block button {
  background-color: gray;
  border:0 ;
  padding: 10px;
  font-weight: bold;
  margin-top:50px;
  font-size: 25px;
  margin-bottom: 50px;
}

@media screen and (max-width: 626px )  {
  .contacts_block_form {
    width: 100%;
  }
}