.contacts {
  min-height: 100vh;
  background-color: #a2a86b;
  display: flex;
  justify-content: center;
  align-content: center;


}

.container {
  width: 80%;
  margin: 0 auto;


}

.contacts_block {

  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contacts_block span {
  background-color: gray;
  font-weight: bold;
  font-size: 17px;
}

.contacts_block_form {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  width: 25%;


}
.contacts_block_form input,
.contacts_block_form textarea {
  background-color: gray;
  margin-top: 5px;

}

.contacts_block_form textarea {
  min-height: 100px;
}

.contacts_block button {
  background-color: gray;
  border:0 ;
  padding: 10px;
  font-weight: bold;
  margin-top:50px;
  font-size: 15px;

}