.nav {
  width: 400px;
  display: flex;
  justify-content:space-between ;
  flex-wrap: wrap;
}

.link{
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.link:hover{
  color: brown;
  transition: 0.2s;
}